flask
flask-cors
breeze_connect
google-cloud-secret-manager
requests
gunicorn
python-dotenv
Flask-SocketIO
eventlet
python-engineio
python-socketio
google-genai
pytz
pyyaml
supabase
gevent
gevent-websocket